<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica EJS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header-body">
        <div class="uma-box">
            <p>Prácticas</p>
            <div class="umita-ansawer">
                <img class="umita" src="/images/uma.jpg" alt="">
            </div>
        </div>
    </header>
    <main>
        <% for(let i = 0; i < users.length;i++) { %>
            <p> <% users[i] %></p>
            <% } %>
    </main>
</body>
</html>