<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Práctica EJS</title>
</head>
<body>
    <header class="header-body">
        <div class="uma-box">
            <p>Prácticas</p>
            <div class="umita-ansawer">
                <img class="umita" src="/images/uma.jpg" alt="">
            </div>
        </div>
    </header>
    <main class="register-body">
        
        <div class="form-box">
            <form action="/register" method="post">
                <div class="form-divs">
                    <label for="name">Nombre</label>
                    <input type="text" name="username" id="name">
                </div>
                <div class="form-divs">
                    <label for="lastname">Apellido</label>
                    <input type="text" name="username" id="lastname">
                </div>
                <div class="buttons">
                    <button type="reset">Borrar</button>
                    <button type="submit">Enviar</button>
                    <p>¿Tenés cuenta? <a href="">Ingresá</a></p>
                </div>

            </form>
        </div>
    </main>
</body>
</html>